@charset 'utf-8';

.table {
  font-variant-numeric: tabular-nums;
  
  .row {
    padding: 1em 0;
    color: $waxxx;
    background: transparentize($milk, 0.6);

    &:nth-child(odd) {
      background: $milk;
    }
  }

  .date {
    text-align: right;
  }

  .event {
    font-weight: 700;
  }
}
