<div class="bg-ruby wrapper">
  {% include "organisms::brassmaster-flash/brassmaster-flash.twig" %}
  {% include "organisms::contact/contact.twig" %}
  {% include "organisms::tour/tour.twig" %}
</div>
