<section id="contact" data-bg="ruby" class="bg-ruby text-milk py-5 d-flex flex-column">
  {% include "organisms::header/header.twig" %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center text-sm-left mb-5 mb-sm-0">
          <h3>Music & stuff</h3>
          <strong>Brassmaster Flash</strong><br>
          Julien Minguely<br>
          <a href="tel:+41 797626433">+41 79 762 64 33</a><br>
          <a href="mail:flash@brass.hiphop">flash@brass.hiphop</a>
        </div>
        <div class="col-sm-6 text-center text-sm-left">
          <h3>Booking</h3>
          <strong>ylin prod</strong><br>
          Fabien Boissieux<br>
          <a href="tel:+41 79 816 87 63">+41 79 816 87 63</a><br>
          <a href="mailto:info@ylinprod.com">info@ylinprod.com</a>
          </p>
        </div>
      </div>
    </div>
  {% include "organisms::footer/footer.twig" %}
</section>
