<section id="tour" data-bg="heat" class="bg-heat py-5 d-flex flex-column">
  {% include "organisms::header/header.twig" %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="table w-100 mb-5">
            <div class="row">
              <div class="date col-4 col-md-4">11.05.18</div>
              <div class="event col-8 col-md-4">Festival Les Jean</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">Fribourg</div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">18.05.18</div>
              <div class="event col-8 col-md-4">Rösti-fest, Fri-Son</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">Fribourg</div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">06.07.18</div>
              <div class="event col-8 col-md-4">Festi-Cheyres</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">Cheyres</div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">17-22.07.18</div>
              <div class="event col-8 col-md-4">Paléo Festival</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">Nyon</div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">28.07.18</div>
              <div class="event col-8 col-md-4"></div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">Lausanne</div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">31.07.18</div>
              <div class="event col-8 col-md-4">TBA</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4"></div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">05.08.18</div>
              <div class="event col-8 col-md-4">TBA</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4"></div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">10-11.08.18</div>
              <div class="event col-8 col-md-4">La Plage des six pompes</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">La Chaux-de-Fond</div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">01.09.18</div>
              <div class="event col-8 col-md-4">TBA</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4"></div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">06.09.18</div>
              <div class="event col-8 col-md-4">TBA</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4"></div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">07.09.18</div>
              <div class="event col-8 col-md-4">Le Port</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">Fribourg</div>
            </div>
            <div class="row">
              <div class="date col-4 col-md-4">08.09.18</div>
              <div class="event col-8 col-md-4">Streetbandcontest</div>
              <div class="location col-8 offset-4 offset-md-0 col-md-4">Weinfelden</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% include "organisms::footer/footer.twig" %}
  </div>
</section>
