<section id="brassmaster-flash" data-bg="elektron" class="bg-elektron current py-5 d-flex flex-column">
  <div class="bg-color"></div>
  {% include "organisms::header/header.twig" %}
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="content mb-5">
          <p>The musicians of the Brassmaster Flash brass band met each other at Switzerland’s universities of jazz. These 12 passionate students then set themselves the challenge of bringing the colours of the New Orleans Mardi Gras to the streets of the Swiss Confederation.</p>
          <p>Mixing funk grooves with hip-hop breakbeats, their fabulous street fanfare is a musical nod in the direction of Grandmaster Flash, a pioneer of hip-hop, scratch and remix.</p>
        </div>
      </div>
    </div>
  </div>
  {% include "organisms::footer/footer.twig" %}
</section>
